<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <link rel="stylesheet" href="LastKnight.css">

</head>
<body>
    <h1>Create a Form that Displays the user's Favorite.</h1>
    <form action="#" th:action="@{/form}" th:boject="${answer}" method="post">

        <strong>Question 1: What is your name?</strong><br>
        Name: <input type="text" th:field="*{answer.name}"/><br>

        <strong>Question 2: What is your Quest?</strong><br>
        Quest: <input type="text" th:field="*{answer.quest}"/><br>
        <span th:if="${random % 2 == 0}">
            <strong>Question 3:What is your favorite color?</strong><br>
            Color: <input type="text" th:field="*{answer.colorOrSpeed}"><br>
        </span>
        <span th:unless="${random % 2 == 0}">
            <strong>Question 3:What is the airspeed velocity of an unladen swallow??</strong><br>
            Speed: <input type="text" th:field="*{answer.colorOrSpeed}"><br>
        </span>


        <input type="submit" value="Answer">
    </form>



</body>
</html>